# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#####################
# frederickkihle.no #
#####################

# dependencies
frederickkihle.no/node_modules
frederickkihle.no/.pnp

# testing
frederickkihle.no/coverage

# production
frederickkihle.no/build

# misc
frederickkihle.no/npm-debug.log*
frederickkihle.no/yarn-debug.log*
frederickkihle.no/yarn-error.log*

# images
frederickkihle.no/src/images
/img