/* IMPORTING TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@font-face {
  font-family: 'Coldiac';
  src: url('/src/fonts/Coldiac.ttf') format('truetype');
  /* https://pixelify.net/download/free-fonts/serif/coldiac/ */
}

@font-face {
  font-family: 'Coldiac-italic';
  src: url('/src/fonts/Coldiac_Italic.ttf') format('truetype');
  /* https://pixelify.net/download/free-fonts/serif/coldiac/ */
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
